.imagelittle img{
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 300px;
	height: 300px;
	/*border: 2px green solid;*/
	/*float: left;*/
}

.imagelittle{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 300px;
	height: 390px;
	border: 1px lightgray solid;
}
.text_descr{
	display: block;
}

.photos{
	width: 50%;
	margin: auto;
	/*display: flex;*/
	/*border: 1px blue solid;*/
	margin-top: 30px;
	margin-bottom: 60px;
}
.buy_now{
	display: block;
	margin: auto;

}
